* {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
}

body {
    background-color: #F2C078;
    margin: 3% 20%;
}

.disabled {
    opacity: 50%;
    pointer-events: none;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.orange_button {
    background-color: #FE5D26;
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    border: none;
    border-radius: 100px;
    padding: 9px 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.orange_button:hover {
    background-color: rgba(255,255,255,0.8);
    color: #FE5D26;
}

.logo {
    margin-right: auto;
    position: relative;
    top: 6px;
}

header {
    display: flex;
    justify-content: flex-end;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FE5D26;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 40px;
}

form {
    background-color: #FFF;
    border-radius: 12px;
}

input {
    font-size: 18px;
    font-weight: 500;
    padding: 13px 20px;
    color: #000;
    width: 300px;
    border: 2px solid #EBEAED;
    outline: none;
    border-radius: 100px;
    margin-bottom: 20px;
}

input::placeholder {
    color: rgba(21, 20, 57, 0.4);
}

.form_button {
    background-color: #7EBC89;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 20px;
    width: 344px;
    border: 2px solid #7EBC89;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.form_button:hover {
    background-color: rgba(126,188,137,0.2);
    color: #6fa97a;
    font-weight: bold;
}

.form_button.second {
    background-color: #C1DBB3;
    border-color: #C1DBB3;
}

.form_button.second:hover {
    background-color: rgba(193,219,179,0.2);
    color: #95b882;
}

.lined {
    display: flex;
    flex-direction: row;
    color: rgba(21, 20, 57, 0.4);;
}

.lined:before, .lined:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    color: #EBEAED;
}

.lined:before {
    margin-right: 10px;
}

.lined:after {
    margin-left: 10px;
}

.form_footer p a {
    color: #7EBC89;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.form_footer p a:hover {
    font-weight: bold;
}