<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/groups_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/0d348efd9b.js" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Workflow</title>
</head>
<body>
    <header style="background: #f2c078; color: #FFF;">
        <div class="header-part">
            <i class="fa-solid fa-bars fa-3x" style="color: #fff; cursor: pointer" onclick="moveNavHorizontal('sidenav', true)"></i>
            <h1>Workflow</h1>
        </div>
        <div class="header-part" onclick="moveNavVertical('dropmenu')">
            <img src={{avatar}} class="avatar">
            <h2 style="font-weight: 400; font-size: 28px"> {{username}} </h2>
        </div>
    </header>
    <div id="sidenav" class="sidenav">
        <nav style="padding-top: 30px;">
            <a href="/main"><i class="fa-solid fa-house"></i>Главная</a>
            <a href="/schedule"><i class="fa-solid fa-bars-progress"></i>Задачи</a>
            <a href="/groups"><i class="fa-solid fa-graduation-cap"></i>Группы</a>
            <a href="#"><i class="fa-solid fa-user-group"></i>Друзья</a>
            <a href="#"><i class="fa-solid fa-comment"></i>Сообщения</a>
        </nav>
        <nav>
            <a href="#" class="settings"><i class="fa-solid fa-screwdriver-wrench"></i>Настройки</a>
        </nav>
    </div>

    <div style="display: flex; justify-content: flex-end;">
        <div id="dropmenu" class="dropmenu">
            <nav>
                <a href="/account"><i class="fa-solid fa-user" style="color: #fff"></i>Аккаунт</a>
                <a href="/auth/login"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #fff"></i>Выход</a>
            </nav>
        </div>
    </div>

    <div class="content" id="content" style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 20px; margin-top: 30px">
        <h1 style="font-weight: 600; font-size: 64px; color: #1E0E62">Выберите группу:</h1>
        <div style="display: flex; align-items: center; gap: 20px">
            <p style="color: #1E0E62; font-weight: 600; font-size: 40px">Курс:</p>
            <form>
                <select id="groupSelect" onclick="checkGroup()" name="dropdown" style="font-weight: 600; font-size: 40px; outline: none; border: none; color: #1E0E62">
                    <option value ="1" selected>1</option>
                    <option value ="2">2</option>
                    <option value ="3">3</option>
                    <option value ="4">4</option>
                </select>
            </form>
        </div>
        <div style="margin-top:30px; display: flex; gap: 40px">
            <div class="group" id="one">
                <label>
                    <input type="checkbox" onclick="checkedBox('one')"><span class="groupName">ФТ-101</span>
                </label>
            </div>
            <div class="group" id="two">
                <label>
                    <input type="checkbox" onclick="checkedBox('two')"><span class="groupName">ФТ-102</span>
                </label>
            </div>
            <div class="group" id="three">
                <label>
                    <input type="checkbox" onclick="checkedBox('three')"><span class="groupName">ФТ-103</span>
                </label>
            </div>
            <div class="group" id="four">
                <label>
                    <input type="checkbox" onclick="checkedBox('four')"><span class="groupName">ФТ-104</span>
                </label>
            </div>
        </div>
        <button class="orange-button" onclick="document.getElementById('modal-new-task').style.display = 'flex'">Добавить задание</button>
    </div>

    <div class="modal-container" id="modal-new-task">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <input required type="text" style="font-weight: 300; font-size: 64px;" placeholder="Предмет">
                <i class="fa-solid fa-xmark fa-2x" onclick="document.getElementById('modal-new-task').style.display = 'none'"></i>
            </div>
            <div style="display: flex; align-items: center; gap: 20px">
                <i class="fa-solid fa-clock fa-3x"></i>
                <input type="date" id="newTaskDate" name="trip-start" value="2018-07-22" style="font-weight: 300;font-size: 40px" onfocus="this.showPicker()">
                <input style="font-weight: 300;font-size: 40px" type="time" id="timeValue" value="15:00">
            </div>
            <textarea class="task-text" style="resize: none; font-weight: 300;font-size: 40px; height: 300px; overflow: auto; max-width: 100%; border: none; outline: none" placeholder="Что нужно сделать?"></textarea>
            <div style="display: flex; justify-content: flex-end; margin-top: 40px">
                <i class="fa-solid fa-check fa-3x" onclick="document.getElementById('modal-new-task').style.display = 'none'"></i>
            </div>
        </div>
    </div>

    <footer style="color: #1E0E62; font-weight: 500; font-size: 26px; position: fixed; bottom: 10px; right: 10px">
        <p id="time"> </p>
        <script src="js/time.js">   </script>
    </footer>

    <script>
        function setAttributes() {
            let date = new Date().toLocaleDateString().split('.');
            let day = date[0];
            let month = date[1];
            let year = date[2];
            let min = `${year}-${month}-${day}`;
            let time = new Date().toLocaleTimeString().slice(0, -3);
            document.getElementById('newTaskDate').setAttribute('min', min);
            document.getElementById('newTaskDate').setAttribute('value', min);
            document.getElementById('timeValue').setAttribute('value', time);
        }

        setAttributes();

        function checkGroup() {
            let num = document.getElementsByName('dropdown')[0].value;
            for (let elem of document.getElementsByClassName('groupName')) {
                let group = elem.textContent;
                elem.textContent = group.substring(0, 3) + num + group.substring(4);
            }
        }

        function checkedBox(id) {
            if (document.getElementById(id).style.background === 'rgb(193, 220, 179)') {
                document.getElementById(id).style.background = '#fff';
            } else {
                document.getElementById(id).style.background = '#C1DCB3';
            }

        }

        function moveNavVertical(id) {
            if (document.getElementById(id).style.height === "160px") {
                document.getElementById(id).style.height = "0";
            }
            else {
                document.getElementById(id).style.height = "160px";
            }
        }

        function moveNavHorizontal(id, margin) {
            if (document.getElementById(id).style.width === "280px") {
                document.getElementById(id).style.width = "0";
                if (margin) {
                    document.getElementById("content").style.marginLeft = "40px";
                }
            }
            else {
                document.getElementById(id).style.width = "280px";
                if (margin) {
                    document.getElementById("content").style.marginLeft = "320px";
                }
            }
        }
    </script>
</body>
</html>