<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workflow</title>
    <link rel="stylesheet" href="css/registration_style.css">
</head>
<body>
    <header>
        <img src="images/logo.png" width="199" height="44" class="logo" alt="logo">
    </header>
    <div>
        <form name="registerForm" method="post" action="/auth/register">
            <div class="reg-header">
                <h1 style="color: #1E0E62; font-size: 42px; font-weight: 700;">Регистрация</h1>
            </div>
            <div class="inputs">
                <label>
                    <input type="text" name="username" placeholder="Никнейм" required="required" data-validate-length-range="6">
                </label>
                <label>
                    <input type="email" name="email" placeholder="Электронная почта" required="required">
                </label>
                <label>
                    <input type="password" name="password" placeholder="Пароль" required="required">
                </label>
                <label>
                    <input type="password" name="repeatedPassword" placeholder="Повторите пароль" required="required">
                </label>
                <input class="orange_button" type="submit" name="submit" value="Зарегистрироваться">
            </div>
            <div class="form-footer" style="display: flex; flex-direction: row; justify-content: space-around; font-size: 18px; flex: 0.8; align-items: center">
                <p style="color: rgba(21, 20, 57, 0.4);">Уже с нами?</p>
                <p><a href="/auth/login">Войти</a></p>
            </div>
        </form>
    </div>
</body>
</html>