<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/scheduler_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/0d348efd9b.js" crossorigin="anonymous"></script>
    <title>Workflow</title>
</head>
<body>
    <header style="background: #f2c078; color: #FFF;">
        <div class="header-part">
            <i class="fa-solid fa-bars fa-3x" style="color: #fff; cursor: pointer" onclick="moveNav()"></i>
            <h1>Workflow</h1>
        </div>
        <div class="header-part">
            <img src="../public/images/avatar.png" class="avatar">
            <h2 style="font-weight: 400; font-size: 28px">Алёна<br>Полуяненко</h2>
        </div>
    </header>
    <div id="sidenav" class="sidenav">
        <nav style="padding-top: 30px;">
            <a href="main.html"><i class="fa-solid fa-house"></i>Главная</a>
            <a href="#"><i class="fa-solid fa-bars-progress"></i>Задачи</a>
            <a href="#"><i class="fa-solid fa-graduation-cap"></i>Группы</a>
            <a href="#"><i class="fa-solid fa-user-group"></i>Друзья</a>
            <a href="#"><i class="fa-solid fa-comment"></i>Сообщения</a>
        </nav>
        <nav>
            <a href="#" class="settings"><i class="fa-solid fa-screwdriver-wrench"></i>Настройки</a>
        </nav>
    </div>
    <div class="content" id="content" style="display: flex; flex-direction: column; gap: 60px">
        <div style="display: flex; gap: 10px; align-items: center; justify-content: flex-end; padding: 10px 20px 0 0">
            <p style="font-weight: 600; font-size: 30px; color: #1E0E62">Задачи на:
                <b style="font-weight: 600; font-size: 30px; color: #7EBC89; cursor: pointer">неделю
                    <i class="fa-solid fa-caret-down fa"></i></b></p>
        </div>
        <div class="table">
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Понедельник</p>
                <p class="date date-1">06.06</p>
                <div class="tasks" style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 10px; overflow-y: auto; margin-bottom: 10px;">
                    <div class="task task-1" onclick="openModal('modal-task')">
                        <p>Веб</p>
                        <p>15:00</p>
                    </div>
                    <div class="task task-2" style="background: #C1DBB3" onclick="openModal('modal-task')">
                        <p>Алгоритмы</p>
                        <p>23:00</p>
                    </div>
                </div>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Вторник</p>
                <p class="date date-2">07.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Среда</p>
                <p class="date date-3">08.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Четверг</p>
                <p class="date date-4">09.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Пятница</p>
                <p class="date date-5">10.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Суббота</p>
                <p class="date date-6">11.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task').style.display = 'flex'">
                <p>Воскресенье</p>
                <p class="date date-7">12.06</p>
            </div>
            <div class="item" ondblclick="document.getElementById('modal-new-task-without-time').style.display = 'flex'">
                <p style="margin-bottom: 10px;">Прочее</p>
                <div class="tasks" style="width: 100%; display: flex; flex-direction: column; align-items: center; gap: 10px;">
                    <div class="task task-3" onclick="openModal('modal-task-without-time')">
                        <p>Уборка</p>
                    </div>
                    <div class="task task-4" onclick="openModal('modal-task-without-time')">
                        <p>Выполнить дейлики в генше</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-container" id="modal-task">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <h1 style="font-weight: 300;font-size: 64px">Веб</h1>
                <i class="fa-solid fa-xmark fa-2x" onclick="document.getElementById('modal-task').style.display = 'none'"></i>
            </div>
            <div style="display: flex; align-items: center; gap: 20px">
                <i class="fa-solid fa-clock fa-3x"></i>
                <p style="font-weight: 300;font-size: 40px">13.06, 15:00</p>
            </div>
            <p class="task-text" style="font-weight: 300;font-size: 40px; height: 300px; overflow: auto">Сделать дз на ULearn + разобраться с flexbox</p>
            <div style="display: flex; justify-content: space-between; margin-top: 40px">
                <label class="form-control" style="font-weight: 300;font-size: 40px; display: flex; gap: 10px">
                    <input type="checkbox" name="checkbox" />
                    Выполнено
                </label>
                <i class="fa-solid fa-pencil fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="modal-container" id="modal-task-without-time">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <h1 style="font-weight: 300;font-size: 64px">Уборка</h1>
                <i class="fa-solid fa-xmark fa-2x" onclick="document.getElementById('modal-task-without-time').style.display = 'none'"></i>
            </div>
            <p class="task-text" style="font-weight: 300;font-size: 40px; height: 300px; overflow: auto">Прибрать комнату, разобрать полки с аниме-фигурками, протереть пыль</p>
            <div style="display: flex; justify-content: space-between; margin-top: 40px">
                <label class="form-control" style="font-weight: 300;font-size: 40px; display: flex; gap: 10px">
                    <input type="checkbox" name="checkbox" />
                    Выполнено
                </label>
                <i class="fa-solid fa-pencil fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="modal-container" id="modal-new-task">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <input required type="text" style="font-weight: 300; font-size: 64px;" placeholder="Название">
                <i class="fa-solid fa-xmark fa-2x" onclick="document.getElementById('modal-new-task').style.display = 'none'"></i>
            </div>
            <div style="display: flex; align-items: center; gap: 20px">
                <i class="fa-solid fa-clock fa-3x"></i>
                <p style="font-weight: 300;font-size: 40px">13.06, </p>
                <input style="font-weight: 300;font-size: 40px" type="time" placeholder="15:00">
            </div>
            <textarea class="task-text" style="resize: none; font-weight: 300;font-size: 40px; height: 300px; overflow: auto; max-width: 100%; border: none; outline: none" placeholder="Что нужно сделать?"></textarea>
            <div style="display: flex; justify-content: space-between; margin-top: 40px">
                <i class="fa-solid fa-trash fa-3x"></i>
                <i class="fa-solid fa-check fa-3x" onclick="document.getElementById('modal-new-task').style.display = 'none'"></i>
            </div>
        </div>
    </div>

    <div class="modal-container" id="modal-new-task-without-time">
        <div class="modal" style="display: flex; flex-direction: column; gap: 20px;">
            <div style="display: flex; justify-content: space-between">
                <input required type="text" style="font-weight: 300; font-size: 64px;" placeholder="Название">
                <i class="fa-solid fa-xmark fa-2x" onclick="document.getElementById('modal-new-task-without-time').style.display = 'none'"></i>
            </div>
            <textarea class="task-text" style="resize: none; font-weight: 300;font-size: 40px; height: 300px; overflow: auto; max-width: 100%; border: none; outline: none" placeholder="Что нужно сделать?"></textarea>
            <div style="display: flex; justify-content: space-between; margin-top: 40px">
                <label class="form-control" style="font-weight: 300;font-size: 40px; display: flex; gap: 10px">
                    <input type="checkbox" name="checkbox" />
                    Выполнено
                </label>
                <i class="fa-solid fa-check fa-3x" onclick="document.getElementById('modal-new-task-without-time').style.display = 'none'"></i>
            </div>
        </div>
    </div>



    <footer style="color: #1E0E62; font-weight: 500; font-size: 26px; position: fixed; bottom: 10px; right: 10px">
        <p id="time" > </p>
        <script src="../public/js/time.js">   </script>
    </footer>

    <script>
        const curr = new Date;
        const first = curr.getDate() - curr.getDay();

        let monday = new Date(curr.setDate(first)).toLocaleString();
        let tuesday = new Date(curr.setDate(first + 1)).toLocaleString();
        let wednesday = new Date(curr.setDate(first + 2)).toLocaleString();
        let thursday = new Date(curr.setDate(first + 3)).toLocaleString();
        let friday = new Date(curr.setDate(first + 4)).toLocaleString();
        let saturday = new Date(curr.setDate(first + 5)).toLocaleString();
        let sunday = new Date(curr.setDate(first + 6)).toLocaleString();

        const mon = document.getElementsByClassName('date date-1')[0];
        mon.innerText = monday.substring(0, 5)
        const tue = document.getElementsByClassName('date date-2')[0];
        tue.innerText = tuesday.substring(0, 5)
        const wed = document.getElementsByClassName('date date-3')[0];
        wed.innerText = wednesday.substring(0, 5)
        const thu = document.getElementsByClassName('date date-4')[0];
        thu.innerText = thursday.substring(0, 5)
        const fri = document.getElementsByClassName('date date-5')[0];
        fri.innerText = friday.substring(0, 5)
        const sat = document.getElementsByClassName('date date-6')[0];
        sat.innerText = saturday.substring(0, 5)
        const sun = document.getElementsByClassName('date date-7')[0];
        sun.innerText = sunday.substring(0, 5)


        function moveNav() {
            if (document.getElementById("sidenav").style.width === "280px") {
                document.getElementById("sidenav").style.width = "0";
                document.getElementById("content").style.marginLeft = "40px";
            }
            else {
                document.getElementById("sidenav").style.width = "280px";
                document.getElementById("content").style.marginLeft = "320px";
            }
        }

        function openModal(id) {
            if (!e) var e = window.event;
            e.cancelBubble = true;
            if (e.stopPropagation) e.stopPropagation();
            document.getElementById(id).style.display = 'flex';
        }
    </script>
</body>
</html>