* {
    font-family: 'Raleway', sans-serif;
    color: #FFF;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 60px;
    background-color: #F2C078;
    display: flex;
    gap: 80px;
    flex-direction: column;
}

nav {
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 1480px) {
    nav {
        justify-content: center;
        gap: 320px;
    }
}

.logo {
    display: inline-block;
    flex-shrink: 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

li a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.disabled {
    opacity: 50%;
    pointer-events: none;
}

nav a {
    font-size: 20px;
    font-weight: 400;
    padding-right: 30px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

nav a:hover {
    color: #FE5D26;
}

.orange-button {
    background-color: #FE5D26;
    font-size: 18px;
    font-weight: 400;
    width: fit-content;
    border: none;
    border-radius: 100px;
    padding: 9px 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.orange-button:hover {
    background-color: rgba(255,255,255,0.8);
    color: #FE5D26;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #fff;
    border-radius: 12px;
    width: 500px;
    height: 640px;
}

form .log-header {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
    flex: 1;
    gap: 10px;
}

form .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1.6;
}

input {
    font-size: 18px;
    font-weight: 500;
    padding: 13px 20px;
    color: #000;
    width: 344px;
    border: 2px solid #EBEAED;
    outline: none;
    border-radius: 100px;
}

input::placeholder {
    color: rgba(21, 20, 57, 0.4);
}

.form-button {
    background-color: #7EBC89;
    font-size: 18px;
    font-weight: 400;
    padding: 13px 20px;
    width: 344px;
    border: 2px solid #7EBC89;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.form-button:hover {
    background-color: rgba(126,188,137,0.2);
    color: #6fa97a;
    font-weight: bold;
}

.form-button.second {
    background-color: #C1DBB3;
    border-color: #C1DBB3;
}

.form-button.second:hover {
    background-color: rgba(193,219,179,0.2);
    color: #95b882;
}

.lined {
    display: flex;
    flex-direction: row;
    color: rgba(21, 20, 57, 0.4);
}

.lined:before, .lined:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    color: #EBEAED;
    margin: auto;
}

.lined:before {
    margin-right: 10px;
}

.lined:after {
    margin-left: 10px;
}

.form-footer p a {
    color: #7EBC89;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

.form-footer p a:hover {
    color: #5f8f68;
}