.base-timer {
    position: relative;
    width: 400px;
    height: 400px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
}

.base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining {
    color: rgb(65, 184, 131);
}

.base-timer__label {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.header-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: #fff;
    cursor: pointer;
}

.sidenav {
    height: calc(100% - 100px);
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    background-color: #FAEDCA;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dropmenu {
    position: fixed;
    margin-top: 100px;
    margin-right: 20px;
    background-color: #f2c078;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    top: 0;
    width: 280px;
    height: 0;
}

.sidenav a, .dropmenu a {
    font-size: 32px;
    color: #1E0E62;
    transition: 0.3s;
    display: flex;
    align-items: baseline;
}

.dropmenu a {
    color: #fff;
}

.sidenav a:hover, .dropmenu a:hover {
    color: #FE5D26;
}

a i {
    color: #111;
    width: 40px;
    height: 40px;
    padding: 20px 10px;
}

.content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    transition: 0.5s;
}

.orange-button {
    background-color: #FE5D26;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    border: 2px solid #FE5D26;
    border-radius: 100px;
    padding: 9px 24px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: fit-content;
}

.orange-button:hover {
    background-color: rgba(254,93,38,0.1);
    color: #FE5D26;
}

progress {
    border-radius: 20px;
    height: 44px;
}

progress::-webkit-progress-bar {
    border: 6px solid #7EBC89;
    background-color: #fff;
    border-radius: 24px;
}
progress::-webkit-progress-value {
    background-color: #7EBC89;
    border-radius: 12px;
    transition: 0.3s;
}

.fake_button {
    background-color: #D9D9D9;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    padding: 9px 24px;
    transition: all 0.3s ease 0s;
    width: fit-content;
}
