* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.header-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    color: #fff;
}

.sidenav {
    height: calc(100% - 100px);
    position: fixed;
    width: 0;
    top: 0;
    left: 0;
    background-color: #FAEDCA;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.dropmenu {
    position: fixed;
    margin-top: 100px;
    margin-right: 20px;
    background-color: #f2c078;
    overflow-y: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    top: 0;
    width: 280px;
    height: 0;
}

.sidenav a, .dropmenu a {
    font-size: 32px;
    color: #1E0E62;
    transition: 0.3s;
    display: flex;
    align-items: baseline;
}

.dropmenu a {
    color: #fff;
}

.sidenav a:hover, .dropmenu a:hover {
    color: #FE5D26;
}

a i {
    color: #111;
    width: 40px;
    height: 40px;
    padding: 20px 10px;
}

.content {
    transition: 0.5s;
}

.table {
    margin: 0 120px 0 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 55px;
    grid-auto-rows: 300px;
}

.item {
    padding-top: 10px;
    background: #faedca;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1E0E62;
}

.item p {
    font-weight: 300;
    font-size: 30px;
}

.item .date {
    font-size: 24px;
    margin-bottom: 10px;
}

.task {
    padding: 10px;
    border-radius: 16px;
    background: #fff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #D9D9D9;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border-radius: 15px;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    transition: 0.3s;
}

input[type="checkbox"]::before {
    color: #fff;
    content: "";
    opacity: 0;
    width: 0.65em;
    height: 0.65em;
    transition: 0.3s;
    box-shadow: inset 1em 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    opacity: 100%;
}

input[type="checkbox"]:checked {
    background: #C1DBB3;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    padding: 20px;
    background: #fff;
    border-radius: 25px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fa-solid.fa-xmark.fa-2x, .fa-solid.fa-pencil.fa-3x, .fa-solid.fa-check.fa-3x, .fa-solid.fa-trash.fa-3x {
    cursor: pointer;
    transition: 0.2s;
}

.fa-solid.fa-xmark.fa-2x:hover, .fa-solid.fa-pencil.fa-3x:hover, .fa-solid.fa-check.fa-3x:hover {
    color: #FE5D26;
}

.fa-solid.fa-trash.fa-3x:hover {
    color: crimson;
}

.tasks::-webkit-scrollbar {
    width: 10px;
    padding-right: 10px;
}

/* Track */
.tasks::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.tasks::-webkit-scrollbar-thumb {
    background: #f2c078;
    border-radius: 10px;
}

.task-text::-webkit-scrollbar {
    width: 10px;
    padding-right: 10px;
}

/* Track */
.task-text::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.task-text::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 10px;
}

input {
    width: 100%;
    border: none;
    outline: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
